@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

.header-page{
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 20px;
}

#supper-header{
    width: 120px;
}

.header-content{
    text-align: center;
    font-family: 'Heebo Bold', sans-serif;
    font-size: 10pt;
    font-weight: bold;
    line-height: 1rem;
}

.header-content img{
    width: 30px;
}

.banner img{
    width: 100%;
}

.grid{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.steps{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.step{
    width: 260px;
    margin: 20px;
    padding: 0;
    position: relative;
}

.step h1{
    position: absolute;
    font-family: 'Heebo Bold', sans-serif;
    font-size: 100pt;
    font-weight:700;
    top: 0px;
    left: 1px;
}

.step h2{
    position: absolute;
    font-family: 'Heebo Bold', sans-serif;
    font-size: 100pt;
    font-weight:700;
    left: 7px;
    top: -1px;
}

.step h3{
    position: absolute;
    font-family: 'Heebo Bold', sans-serif;
    font-size: 100pt;
    font-weight:700;
    left: 0px;
    top: 0px;
}

.first-content{
    width: 200px;
    height: 50px;
    border-top-right-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 55px;
    margin-left: 35px;
}

.first-content p{
    font-family: 'Heebo Bold', sans-serif;
    margin: 6px;
    font-size: 18pt;
    font-weight: 900;
}

.step-two::before{
    content: "";
    width: 60px;
    height: 45px;
    display: block;
    position: absolute;
    background-color: white;
    rotate: 45deg;
    left: 0px;
    top: 30px;
}

.step-tree::before{
    content: "";
    width: 51px;
    height: 90px;
    display: block;
    position: absolute;
    background-color: white;
    left: 0px;
    top: 30px;
}

.second-content{
    width: 200px;
    height: 150px;
    cursor: pointer;
    margin-left: 35px;
    clip-path: url(#content-svg);
    text-align: center;
    padding-top: 30px;
}

.second-content p{
    font-family: 'Heebo', sans-serif;
    margin: 0px;
    font-size: 12pt;
    font-weight: 900;
}

.grey-color{
    background-color: #BDC5D5;
}

.yellow-color{
    background-color: #FFAA23;
}

.bt-whats{
    position: fixed;
    bottom: 10%;
    right: 5%;
    cursor: pointer;
    width: 70px;
}

.floating{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    }

.floating-stepone{
    display: flex;
    width: 830px;
    height: 280px;
    border: 2px solid #FFAA23;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Heebo Bold', sans-serif;
    font-size: 17pt;
    margin-top: 15px;
    margin-bottom: 15px;
}

.floating-steptwo{
    display: flex;
    width: 830px;
    height: 300px;
    border: 2px solid #FFAA23;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Heebo Bold', sans-serif;
}

.floating-steptree{
    display: flex;
    width: 830px;
    height: 500px;
    border: 2px solid #FFAA23;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Heebo Bold', sans-serif;
}

.floating-quests{
    display: flex;
    width: 830px;
    height: 500px;
    border: 2px solid #FFAA23;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Heebo Bold', sans-serif;
}

.floating-steps h1{
    font-weight: 900;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 17pt;
}

.floating-steptree h1{
    margin-bottom: 0px;
}

.floating-steptree img{
    width: 180px;
    margin-bottom: 70px;
}

.floating-steps button{
    padding-inline: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17pt;
    background-color: white;
    border: 2px solid #FFAA23;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-top: 15px;
    cursor: pointer;
}

.download-button{
    margin-top: 70px;
}

.download-button button{
    margin: 10px;
    background-color: #FFAA23;
}

.floating-steps a{
    text-decoration: none;
    color: black;
}

.floating-steps p{
    font-size: 17pt;
}

.floating-steps button:hover a{
    text-decoration: none;
    color: white;
}

.floating-steps button:hover{
    background-color: #FFAA23;
    color: white;
}

.download-button a{
    font-size: 13pt;
}

.download-button button:hover{
    background-color: #E3971F;
    border-color: #E3971F;
}

.floating-afterone{
    width: 830px;
    height: 330px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.floating-afterone::after{
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    border: 2px solid;
    border-color: #FFAA23 transparent transparent #FFAA23;
    background-color: white;
    border-top-left-radius: 10px;
    position: absolute;
    top: 6px;
    left: 93px;
}

.floating-aftertwo{
    width: 830px;
    height: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.floating-aftertwo::after{
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    border: 2px solid;
    border-color: #FFAA23 transparent transparent #FFAA23;
    background-color: white;
    border-top-left-radius: 10px;
    position: absolute;
    top: 21px;
    left: 394px;
}

.floating-aftertree{
    height: 550px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.floating-aftertree::after{
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    border: 2px solid;
    border-color: #FFAA23 transparent transparent #FFAA23;
    background-color: white;
    border-top-left-radius: 10px;
    position: absolute;
    top: 21px;
    right: 82px;
}

.floating-images{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.floating-images img{
    width: 110px;
    margin: 15px;
    margin-top: 30px;
    cursor: pointer;
}

#logo-azul{
    width: 90px;
}

.button-steps{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 40px;
    justify-content: center;
}

.button-steps button{
    border: none;
    width: 270px;
    margin: 3px;
}

.button-steps a{
    font-size: 14pt;
}

.contact{
    background-color: #f3f3f3;
    width: 100%;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact p{
    font-family: 'Heebo Light', sans-serif;
    font-size: 18pt;
    color: #364b57;
}

.footer{
    width: 100%;
    margin-top: 100px;
}

.footer-content{
    font-family: 'Heebo Light', sans-serif;
    margin-top: 30px;
    margin-bottom: 50px;
    color: grey;
    font-size: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.hidden{
    display: none;
}

.mask{
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
}

#mobile-layout{
    display: none;
}

@media screen and (max-width: 768px){

    #desktop-layout{
        display: none;
    }

    #mobile-layout{
        display: block;
    }

    .header-page{
        gap: 30%;
    }

    #supper-header{
        width: 100px;
    }

    .header-content{
        font-size: 7pt;
        line-height: 0.8rem;
    }

    .banner{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .steps{
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
    }

    .footer-content{
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .footer-content img{
        margin-bottom: 20px;
    }

    .floating-afterone::after, .floating-aftertwo::after{
        display: flex;
        left: auto;
        top: -10px;
    }
    
    .floating-aftertree::after{
        display: flex;
        right: auto;
        top: -10px;
    }

    .floating-afterone, .floating-aftertwo, .floating-aftertree{
        flex-direction: row;
        justify-content: center;
        width: 90%;
    }

    .floating-stepone, .floating-steptwo, .floating-steptree, .floating-images, .floating-quests{
        width: 90%;
    }

    .floating-steps h1, .floating-steps p{
        font-size: 14pt;
        text-align: center;
    }

    .floating-steps button{
        width: 60%;
        font-size: 10pt;
        color: #000;
    }

    .floating-stepone{
        height: auto;
    }

    .floating-afterone{
        height: auto;
    }

    .floating-steptwo{
        height: auto;
        margin-top: 17px;
    }

    .floating-aftertwo{
        height: auto;
    }

    .floating-steptree{
        height: auto;
        margin-top: 15px;
    }

    .floating-aftertree{
        height: auto;
    }

    .floating-quests{
        height: auto;
        margin-top: 15px;
    }

    .text-mobile{
        margin-top: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .text-mobile2{
        margin-bottom: 30px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .text-mobile3{
        margin-left: 15px;
        margin-right: 15px;
    }

    .grid{
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .grid img{
        width: 60%;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .download-button{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .button-steps a{
        font-size: 10pt;
        text-align: center;
    }

    .button-steps{
        justify-items: center;
        margin-bottom: 20px;
    }

    .button-steps button{
        width: 90%;
        background-color: transparent;
    }

    .new-steps img{
        margin-top: 80px;
    }

    .new-steps p{
        margin-left: 15px;
        margin-right: 15px;
    }

    .new-steps button{
        width: 100%;
    }

    .contact p{
        font-size: 14pt;
    }

    .step h1{
        left: 6px;
    }
    .step h2{
        top: -3px;
    }
}

